/* This is a CSS comment.*/
.screenshot {
  max-width: 460px;
}

.description {
  color: #7c8b88;
  max-width: 705px;
  align-self: center;
  font-family: sans-serif;
}

.app {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

* {
  /* outline: 1px solid red !important; */
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

h1.title {
    background-color: #33bebe;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    padding-top: 25px;
}

/*
Comments are only to help PEOPLE read a code file. The
computer ignores them.
*/
