/* This is a CSS comment.*/
.screenshot {
  max-width: 460px;
}

.description {
  color:red;
  max-width: 705px;
}

.app {
  display: -webkit-flex;
  display: flex;
}

* {
  outline: 1px solid red !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*
Comments are only to help PEOPLE read a code file. The
computer ignores them.
*/
